
.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 1rem;
    grid-template-rows: 220px;
}

.section1 {
    display: grid;
    grid-template-columns: auto;
}

.section2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.section3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1rem;
}

.box1 {
    background: black;
}

.box2,
.box3,
.box4,
.box5 {
    background: yellow;
    border: 1px solid black;
    height: 100px;
}

.box6,
.box7,
.box8 {
    background: rgb(212, 64, 64);
    border: 1px solid black;
    height: 100px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "section1 section2"
        "section3 section3";
        grid-template-rows: 220px 220px;
        grid-column-gap: 4rem;
    }

    .section2 {
        grid-template-columns: 40% auto;
    }

    .section3 {
        grid-area: section3;
    }

    .box6, .box7, .box8 {
        height: 250px;
    }
}

